version: '3'

services:
  nordpool-tracker:
    # Development-specific settings
    volumes:
      - ./app:/app/app  # For live code reloading
    command: ["python", "-m", "app.main"]  # Different command if needed for development 